/**
 * This file is for any css that you may want for this visualizer.
 *
 * Ideally, you would use the scss file also provided in this directory 
 * and then generate this file automatically from that. However, you can 
 * simply write css if you prefer
 */

.root-viz {
  outline: none; }
.root-viz .panel-base-wh.w-tabs .floating-title {
    display: none
}
.root-viz .panel-base-wh .floating-title {
    display: none
}
.root-viz .diagram-designer-tabs-container {
    display: none
}
