/**
 * This file is for any css that you may want for this visualizer.
 *
 * Ideally, you would use the scss file also provided in this directory 
 * and then generate this file automatically from that. However, you can 
 * simply write css if you prefer
 */

.ui-layout-center {
    overflow-x: auto;
    overflow-y: hidden;
}

.results-viz {
    outline: none;
    overflow: visible;
    width: 100%;
    height: 100%;
}

.toggle {
    float: left;
    margin-right: 5px;
    margin-left: 5px;
}
.controls {
    height: 10%;
    width: 100%;
    overflow: auto ;
}
.plot-div {
    height: 90%;
    width: 100%;
}
