/**
 * This file is for any css that you may want for this visualizer.
 *
 * Ideally, you would use the scss file also provided in this directory 
 * and then generate this file automatically from that. However, you can 
 * simply write css if you prefer
 */

.results-viz {
    outline: none; 
}
.svg-content-responsive {
    display: inline-block;
    /*position: absolute;*/
}
.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.legend {
    padding: 5px;
    font: 10px sans-serif;
    background: yellow;
    box-shadow: 2px 2px 1px #888;
}
path.line {
    fill: none;
    stroke-width: 1px;
}
.zoomOut {
    fill: #66a;
    cursor: pointer;
}
.zoomOutText {
    pointer-events: none;
    fill : #ccc;
}
.zoomOverlay {
    pointer-events: all;
    fill:none;
}
.band {
    fill : none;
    stroke-width: 1px;
    stroke: red;
}

